# Python
__pycache__/
*.pyc
.venv/
.env
*.ipynb_checkpoints

# Data artifacts
data/raw/
data/features/
*.parquet
*.gz

# Lambda build artifacts
lambda/**/package/
lambda/**/dist/
lambda/**/function.zip

# OS / IDE
.DS_Store
.idea/
.vscode/
