# Ignore Python bytecode
__pycache__/
*.pyc
*.env
# Ignore virtual environments
venv/
env/

# Ignore OS files
.DS_Store

# Ignore log files
*.log

# Ignore node modules
node_modules/

# Ignore IDE settings
.vscode/
.idea/